apiVersion: apps/v1
kind: Deployment
metadata:
  name: app1
  namespace: dev-ns
spec:
  replicas: 1
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: app1
  template:
    metadata:
      labels:
        app: app1
    spec:
      containers:
      - image: 10.0.0.19:5000/devimages/app1:1.150222.060229
        name: app1
        ports:
        - containerPort: 8080
